<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật tin bài</title>
</head>
<body>
    <form action="{% url 'news:savebb' %}" method="post">
    {% csrf_token %}
            <table>
            <tr>
                <th>
                    <label for="{{ form.age.id_for_age }}">Tuổi:</label>
                </th>
                <td>
                    {{ form.age }}
                <td>
            </tr>
            <tr>
                <th>
                    <label for="{{ form.weight.id_for_weight }}">Cân nặng:</label>
                </th>
               <td>
                    {{ form.weight }}
               </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Thêm">
                </td>
            </tr>
    </table>
    </form>
</body>
</html>